1.Load the Bank Full Data Set

In [1]:
import pandas as pd

filePath = '/content/bank-full.csv'
rawData = pd.read_csv(filePath, header=None)

2.Split the data

In [3]:
splitData = rawData[0].str.split(';', expand=True)

splitData.columns = splitData.iloc[0]  # Set the first row as headers
splitData = splitData[1:]  # Remove the first row because it's used as headers

# Remove double quotes
splitData = splitData.replace('"', '', regex=True)
splitData.columns = splitData.columns.str.replace('"', '', regex=True)
print("\nFirst 5 rows:")
print(splitData.head())

First 5 rows:
0 age           job  marital  education default balance housing loan  contact  \
1  58    management  married   tertiary      no    2143     yes   no  unknown
2  44    technician   single  secondary      no      29     yes   no  unknown
3  33  entrepreneur  married  secondary      no       2     yes  yes  unknown
4  47   blue-collar  married    unknown      no    1506     yes   no  unknown
5  33       unknown   single    unknown      no       1      no   no  unknown

0 day month duration campaign pdays previous poutcome   y
1   5   may      261        1    -1        0  unknown  no
2   5   may      151        1    -1        0  unknown  no
3   5   may       76        1    -1        0  unknown  no
4   5   may       92        1    -1        0  unknown  no
5   5   may      198        1    -1        0  unknown  no